.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.NavigationWrapper {
    width: 100%;
    border: 1px solid black;
}

.Navigation {
    text-align: center;
}

.Navigation li {
    display: inline;
    padding: 10px;
}