.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Navigation {
    text-align: center;
}

.Navigation li {
    display: inline;
    padding: 10px;
}

.Navigation a {
    text-decoration: none;
    color: black;
}

.Navigation a:active,
.Navigation a:hover,
.Navigation a.active {
    color: orange;
}